
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Latest compiled and minified CSS -->
<script src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://malsup.github.io/jquery.blockUI.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


<title>{{ pagename }}</title>

</head>

<body>
<div class="container">
	<div class="page-header">
  		<h1>CloudObscure <small>A solution to obscure cloud hosted files in Node.js</small></h1>
	</div>
	<div class="row top-buffer">
		<div class="col-md-7  ">
			<div class="panel">
          <div class="panel-body">
              <form class="form" id="form2" name="form2" method="post" action="/">
                
                <div class="input-group">
                  <span class="input-group-addon">Cloudfile</span>
                  <input class="form-control" type="text" name="u" id="remotefile" placeholder="Enter remote file (e.g. http://images.cdn.rackspace.com/home/bananers/open-is-better.jpg">
                </div> 
                <div class="input-group">
                  <span class="input-group-addon">Local name</span>
                  <input class="form-control" type="text" name="p" id="filename" placeholder="Enter prefered file path (e.g. /nice/path/open.jpg">
                </div> 

                <button class="btn btn-med btn-primary btn-block addFile" type="submit" id="submit">Submit</button>         
              </form>
            </div>
      </div>
		</div>
		<div class="col-md-5  ">
			<div class="panel panel-info top-buffer">
				<div class="panel-heading">Sample queries</div>
			<div class="panel-body">
				
				{% for file in files %}
				  
				    <a title="Shh. Actually is {{ file.u }}" href="{{ file.p }}">{{ file.p }}</a> (Viewed {{ file.c }} times) 
				    [<a class='deletefile' href="/delete/{{ file.deletekey }}">delete</a>] <br/>
				 
				{% endfor %}
				
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">  
    $(document).ready(function() { 
        $('.deletefile').click(function() { 
            $.blockUI({ message: '<h4>Just a moment...</h4>' }); 
       }); 
        $('.addFile').click(function() { 
            $.blockUI({ message: '<h4>Adding your file...</h4>' }); 
       }); 
    }); 
</script> 